{% extends 'core/base.html' %}

{% block content %}

<div class="col-12 col-md-12">
  <div class="app-card app-card-settings shadow-md">
    <div class="app-card-body p-4">
      
      {% include 'core/search_form.html' with add_url='user-create' model_name=model_name %}
      
      <div class="table-responsive">
        <table class="table app-table-hover text-left table-bordered table-hover" id="app_table_data">

          <thead>
            <tr>
              <th>Photo</th>

              <!-- First Name -->
              <th>
                {% if SortByColumn == 'ASC' and OrderByColumn == 'first_name' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=first_name&SortByColumn=DESC">
                    <i class="fa fa-sort-down"></i> First Name
                  </a>
                {% elif SortByColumn == 'DESC' and OrderByColumn == 'first_name' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=first_name&SortByColumn=ASC">
                    <i class="fa fa-sort-up"></i> First Name
                  </a>
                {% else %}
                  <a class="text-bcolor" href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=first_name&SortByColumn=ASC">
                    <i class="fa fa-sort"></i> First Name
                  </a>
                {% endif %}
              </th>

              <!-- Last Name -->
              <th>
                {% if SortByColumn == 'ASC' and OrderByColumn == 'last_name' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=last_name&SortByColumn=DESC">
                    <i class="fa fa-sort-down"></i> Last Name
                  </a>
                {% elif SortByColumn == 'DESC' and OrderByColumn == 'last_name' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=last_name&SortByColumn=ASC">
                    <i class="fa fa-sort-up"></i> Last Name
                  </a>
                {% else %}
                  <a class="text-bcolor" href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=last_name&SortByColumn=ASC">
                    <i class="fa fa-sort"></i> Last Name
                  </a>
                {% endif %}
              </th>

              <!-- role -->
              <th>
                {% if SortByColumn == 'ASC' and OrderByColumn == 'role' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=role&SortByColumn=DESC">
                    <i class="fa fa-sort-down"></i> Role
                  </a>
                {% elif SortByColumn == 'DESC' and OrderByColumn == 'role' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=role&SortByColumn=ASC">
                    <i class="fa fa-sort-up"></i> Role
                  </a>
                {% else %}
                  <a class="text-bcolor" href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=role&SortByColumn=ASC">
                    <i class="fa fa-sort"></i> Role
                  </a>
                {% endif %}
              </th>

              <!-- Email -->
              <th>
                {% if SortByColumn == 'ASC' and OrderByColumn == 'email' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=email&SortByColumn=DESC">
                    <i class="fa fa-sort-down"></i> Email
                  </a>
                {% elif SortByColumn == 'DESC' and OrderByColumn == 'email' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=email&SortByColumn=ASC">
                    <i class="fa fa-sort-up"></i> Email
                  </a>
                {% else %}
                  <a class="text-bcolor" href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=email&SortByColumn=ASC">
                    <i class="fa fa-sort"></i> Email
                  </a>
                {% endif %}
              </th>

              <!-- Mobile Number -->
              <th>
                {% if SortByColumn == 'ASC' and OrderByColumn == 'mobile_number' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=mobile_number&SortByColumn=DESC">
                    <i class="fa fa-sort-down"></i> Mobile Number
                  </a>
                {% elif SortByColumn == 'DESC' and OrderByColumn == 'mobile_number' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=mobile_number&SortByColumn=ASC">
                    <i class="fa fa-sort-up"></i> Mobile Number
                  </a>
                {% else %}
                  <a class="text-bcolor" href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=mobile_number&SortByColumn=ASC">
                    <i class="fa fa-sort"></i> Mobile Number
                  </a>
                {% endif %}
              </th>

              <!-- Last Login -->
              <th>
                {% if SortByColumn == 'ASC' and OrderByColumn == 'updated_at' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=updated_at&SortByColumn=DESC">
                    <i class="fa fa-sort-down"></i> Last Login
                  </a>
                {% elif SortByColumn == 'DESC' and OrderByColumn == 'updated_at' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=updated_at&SortByColumn=ASC">
                    <i class="fa fa-sort-up"></i> Last Login
                  </a>
                {% else %}
                  <a class="text-bcolor" href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=updated_at&SortByColumn=ASC">
                    <i class="fa fa-sort"></i> Last Login
                  </a>
                {% endif %}
              </th>

              <!-- Status -->
              <th>
                {% if SortByColumn == 'ASC' and OrderByColumn == 'is_active' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=is_active&SortByColumn=DESC">
                    <i class="fa fa-sort-down"></i> Status
                  </a>
                {% elif SortByColumn == 'DESC' and OrderByColumn == 'is_active' %}
                  <a href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=is_active&SortByColumn=ASC">
                    <i class="fa fa-sort-up"></i> Status
                  </a>
                {% else %}
                  <a class="text-bcolor" href="?FieldName={{ FieldName }}&Keyword={{ Keyword }}&QuerySearch={{ QuerySearch }}&page={{ page }}&OrderByColumn=is_active&SortByColumn=ASC">
                    <i class="fa fa-sort"></i> Status
                  </a>
                {% endif %}
              </th>
              <th>Action</th>

            </tr>
          </thead>

          <tbody>
            {% if page_obj.object_list %}
              {% for eachRow in page_obj.object_list %}
                <tr>
                  <td class="cell">
                    <img class="img-thumbnail"
                         width="30"
                         src="/media/{{ eachRow.photo }}"
                         alt="No Image"
                         onerror="this.onerror=null;this.src='/static/default/img/no-image.png';this.width=30;">
                  </td>
                  <td class="cell">
                    <a href="{% url 'user-view' eachRow.pk %}">
                      {{ eachRow.first_name }}
                    </a>
                  </td>
                  <td class="cell">{{ eachRow.last_name|default_if_none:""|default:"" }}</td>
                  
                  {% for group in eachRow.groups.all %}
                  <td class="cell">{{group.name}}</td>
                  {% endfor %}
                   
                  <td class="cell">{{ eachRow.email|lower }}</td>
                  <td class="cell">{{ eachRow.mobile_number }}</td>
                  <td class="cell">{{ eachRow.last_login|date:"M.d,Y H:i" }}</td>
                  <td class="cell {{ eachRow.status_name }}">
                    {{ eachRow.status_name }}
                  </td>
                  <td class="cell">
                    <a href="{% url 'user-view' eachRow.pk %}">
                      <span class="badge app-btn-primary"><i class="fa fa-eye"></i> View</span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="8" class="text-center">
                  <h6>No Records found</h6>
                </td>
              </tr>
            {% endif %}
          </tbody>

        </table>
      </div>

      {% include 'core/pagination.html' %}

    </div>
  </div>
</div>

{% endblock %}

{% block pagejs %}
{% endblock %}
