<div class="row p-0">
    <div class="col-md-12 mb-2">
        <h3>Audit Information</h3>
    </div>
    <!-- Audit Information Fields -->
    <div class="col-md-4">
        <strong><label>Created User :</label></strong>
        {{ object.record_created_user }}
    </div>
    <div class="col-md-4">
        <strong><label>Modified User :</label></strong>  
        {{ object.last_modified_user }}
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <strong><label>Created Date :</label></strong>  
        {{ object.created_at |date:"d M Y, H:i" }}
    </div>
    <div class="col-md-4">
        <strong><label>Last Modified :</label></strong>  
        {{ object.last_modified_at }}
    </div>
</div>



