<div class="container-fluid mt-2" >
	<div class="row">
<div class="col-md-6">
<p class="copyright text-left" style="font-size:14px !important"><small>© 2025 . <a class="app-info" href="{{ app.website }}" target="_blank">{{ app.footer_text }}</a> All rights reserved.</small></p>
</div>
<div class="col-md-6 text-right" >
<p class="copyright text-right " style="text-align: right !important;font-size: 14px;"><small>Powered by <a class="app-info" href="https://zitatechinc.com" target="_blank" title="TechZita Innovations">TechZita Innovations</a>.</small></p>
</div>
</div>
</div>