{% load static %}
{% if request.user.is_authenticated  %}
<div class="app-header-inner">
   <div class="container-fluid py-2">
      <div class="app-header-content">
         <div class="row justify-content-between align-items-center">
            
            <div class="col-md-12 col-auto">
               <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">

                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img">
                     <title></title>
                     <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                  </svg>
               </a>
            </div>
             <div class="col-md-9">
                     <h5 class="pt-2"> 

                     {{ app.header_text }} - <span style="font-weight: bold;">{{page_title}}</span>
                     
                     </h5>
                  </div>
            <!--//col-->
           
            
        <!--     <div class="app-search-box col" >
               <div class="row">
                  
                  <div class="col-md-8">
                     <h5 class="pt-2"> {{ app.header_text }}</h5>
                     
                  </div>
                  
               </div>
               
               
            </div> -->
            <div class="col-md-2" style="float:right !important;text-align: right !important;">
               
            
             <div class="app-utilities " >
               <!--//app-utility-item-->
               <div class="app-utility-item app-user-dropdown dropdown" style="float: right !important;">
                  <a class="dropdown-toggle" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false"><i class="fa fa-user-circle fa-lg"></i> Hi <span class="text-success">{{request.user.first_name}}</span></a>
                  <ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
                     <li><a class="dropdown-item" href="{% url 'user-view' request.user.pk %}">My Account</a></li>
                     <li><a class="dropdown-item" href="{% url 'user-changepassword' request.user.pk %}">Change Password</a></li>
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li><a class="dropdown-item" href="{% url 'logout'  %}">Log Out</a></li>
                  </ul>
               </div>
               <!--//app-user-dropdown--> 
            </div>
           
         </div>
            <!--//app-utilities-->
            <div class="col-md-1">
            </div>




         </div>
         <!--//row-->
      </div>
      <!--//app-header-content-->
   </div>
   <!--//container-fluid-->
</div>
<!--//app-header-inner-->
<div id="app-sidepanel" class="app-sidepanel">
<!--//app-branding-->  
{% include 'core/sidebar.html' %}
</div>
<!--//app-sidepanel-->
 {%endif%}