{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<form method="post" action="{{ form_action_url }}" novalidate>
    {% csrf_token %}

    <div class="row mb-2 mt-2">
        <div class="col-12 col-md-12 text-end">
            <button type="button" id="openSaveModal" class="btn btn-sm app-btn-primary">
                <i class="fa fa-save fa-lg"></i> Save
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12">
            <div class="app-card app-card-settings shadow-md">
                <div class="app-card-body p-4">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {{ form.country }}
                                <label class="form-label">{{ form.country.label_tag }}</label>
                                {% if form.country.errors %}
                                <ul class="errorlist list-unstyled text-danger">
                                    {% for error in form.country.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {{ form.name }}
                                <label class="form-label">{{ form.name.label_tag }}</label>
                                {% if form.name.errors %}
                                <ul class="errorlist list-unstyled text-danger">
                                    {% for error in form.name.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {{ form.code }}
                                <label class="form-label">{{ form.code.label_tag }}</label>
                                {% if form.code.errors %}
                                <ul class="errorlist list-unstyled text-danger">
                                    {% for error in form.code.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {{ form.region }}
                                <label class="form-label">{{ form.region.label_tag }}</label>
                                {% if form.region.errors %}
                                <ul class="errorlist list-unstyled text-danger">
                                    {% for error in form.region.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {{ form.city }}
                                <label class="form-label">{{ form.city.label_tag }}</label>
                                {% if form.city.errors %}
                                <ul class="errorlist list-unstyled text-danger">
                                    {% for error in form.city.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {{ form.status }}
                                <label class="form-label">{{ form.status.label_tag }}</label>
                                {% if form.status.errors %}
                                <ul class="errorlist list-unstyled text-danger">
                                    {% for error in form.status.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                {{ form.search_keywords }}
                                <label class="form-label">{{ form.search_keywords.label_tag }}</label>
                                {% if form.search_keywords.errors %}
                                <ul class="errorlist list-unstyled text-danger">
                                    {% for error in form.search_keywords.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>

{% endblock content %}

{% block pagecss %}

<link href="{% static 'default/css/select2.min.css' %}" rel="stylesheet" />
<style>
	.select2-container .select2-selection--single {
		height: 58px;
		padding-top: 1.625rem;
		padding-bottom: .625rem;
		border-color: #e0e0e0 !important;
	}
	.select2-selection__rendered {
		line-height: 26px !important;
	}
	.select2-selection__arrow {
		height: 36px !important;
	}
</style>

{% endblock pagecss %}


{% block pagejs %}

<script src="{% static 'default/js/select2.min.js' %}"></script>
<script>
	$(document).ready(function () {
		$('#id_country').select2({
			placeholder: "Select a country",
			allowClear: false ,// Optional: enables a clear button
			width: '100%'
		});
	});
</script>

{% endblock pagejs %}
