{% extends 'core/base.html' %}
{% load humanize %}
{% block content %}

<form method="post" novalidate>
    {% csrf_token %}

    <!-- Edit Button -->
    <div class="row mb-2 mt-2">
        <div class="col-12 text-end">
            <button type="button"
                    class="btn btn-sm app-btn-primary edit-link"
                    data-url="{% url 'project-component-update' object.pk project_component_obj.pk %}">                    
                <i class="fa fa-edit"></i> Edit
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12">
            <div class="app-card app-card-settings shadow-md p-4">
                {% include 'project/project_menu.html' %}
                <div class="app-card-body ps-2">
                    <!-- Project Component Information -->
                    <div class="row mb-4">
                        <h6 class="mb-3">Project Component Information</h6>
                        <div class="col-md-4"><strong>Project :</strong> {{ object.project.name }}</div>
                        <div class="col-md-4"><strong>Code :</strong> {{ project_component_obj.code}} </div>
                        <div class="col-md-4"><strong>Component Type :</strong> {{ project_component_obj.component_type }}</div>
                        
                        {% if project_component_obj.component_type == 'BOM' %}
                        <div class="col-md-4"><strong>BOM :</strong> {{ project_component_obj.bom }}</div>
                        {% elif project_component_obj.component_type == 'SERVICE' %}
                        <div class="col-md-4"><strong>Service :</strong> {{ project_component_obj.service }}</div>
                        {% elif project_component_obj.component_type == 'MISCELLANEOUS' %}
                        <div class="col-md-4"><strong>Miscellaneous :</strong> {{ project_component_obj.miscellaneous_component }}</div>
                        {% else %}
                        <div class="col-md-4"><strong>Product :</strong> {{ project_component_obj.product}}</div>
                        {% endif %}
                        
                        <div class="col-md-4"><strong>Quantity :</strong> {{ project_component_obj.component_qty }}</div>
                        <div class="col-md-4"><strong>Cost :</strong> {{ project_component_obj.component_cost|floatformat:2 }}</div>

                        <div class="col-md-4">
                            <strong>Status :</strong>
                            <span class="badge 
                                {% if object.status == 1 %} bg-success
                                {% elif object.status == 0 %} bg-warning
                                {% else %} bg-danger
                                {% endif %}">
                                {{ project_component_obj.status_name }}
                            </span>
                        </div>
                        <div class="col-md-4">
                        <strong>Search Keywords :</strong> {{ project_component_obj.search_keywords }}
                        </div>
                        <div class="col-md-4">
                            <strong>Description :</strong> {{ project_component_obj.description }}
                        </div>
                    </div>

                    <!-- Audit Log Information -->
                    {% include 'core/project_audit_log.html' with object=project_component_obj %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block pagecss %}
<style type="text/css">
   label.required::after { display: none !important; }
   label, strong { font-weight: bold !important; }
</style>
{% endblock %}

{% block pagejs %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.edit-link').forEach(function (btn) {
        btn.addEventListener('click', function (e) {
            e.preventDefault();
            const url = btn.dataset.url;

            Swal.fire({
                text: 'Do you want to edit this Project Component?',
                showCancelButton: true,
                confirmButtonText: 'Yes, Edit',
                cancelButtonText: 'Cancel',
                allowOutsideClick: false,
                width: 350
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
        });
    });
});
</script>
{% endblock %}
