{% extends 'core/base.html' %}
{% block content %}
<form method="post" action = "{{form_action_url}}" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row mb-2 mt-2">
        <div class="col-12 text-end">
            <div class="button-group">
                <a href="/media/product_sample_file.xlsx" class="btn btn-sm app-btn-primary">
                    <i class="fa fa-download fa-lg"></i> Sample file
                </a>
                <button type="submit" class="btn btn-sm app-btn-primary">
                    <i class="fa fa-save fa-lg"></i> Save
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12">
            <div class="app-card app-card-settings shadow-md" >
                <div class="app-card-body p-4">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <h6>Product Uploads</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                          <label for="formFile" class="form-label">Upload File</label>
                           {{ form.file }}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block pagecss %}
{% endblock %}